%form{ action: action, method: "POST" }
  %p
    %label{ for: 'phrase_id' } Phrase
    %br/
    %textarea{ id: 'phrase_id', name: 'phrase', rows: '5', cols: '60', placeholder: "Enter your phrase" }
  %input{ type: 'radio', name: 'action', value: 'encrypt'} Encrypt
  %input{ type: 'radio', name: 'action', value: 'decrypt'} Decrypt
  %button{ type: "submit" } Submit
  %p
    %label{ :for=> 'result_id' } Result
    %br/
    - if @result.nil?
      %textarea{ id: 'result_id', name: 'result', rows: '8', cols: '60', placeholder: "Here you will see the result", readonly: '' }
    - else
      %textarea{ id: 'result_id', name: 'result', rows: '8', cols: '60', readonly: 'readonly'}= @result