%h3 First laboratory work
%p The goal of laboratory work is to encrypt a phrase with vigenere algorithm
%form{ action: "/lab1", method: "POST" }
  %p
    %label{ :for=> 'phrase_id' } Phrase
    %br/
    %textarea{ id: 'phrase_id', name: 'phrase', rows: '5', cols: '60', placeholder: "Enter your phrase" }
    %br/
    %br/
    %label.key{ for: 'key_id' } Key
    %br/
    %input{ id: 'key_id', name: 'key', type: 'text', placeholder: 'Enter the key', size: '43'}
  %input{ type: 'radio', name: 'action', value: 'encrypt'} Encrypt
  %input{ type: 'radio', name: 'action', value: 'decrypt'} Decrypt
  %button{ type: "submit" } Submit
  %p
    %label{ :for=> 'result_id' } Result
    %br/
    - if @result.nil?
      %textarea{ id: 'result_id', name: 'result', rows: '6', cols: '60', placeholder: "Here you will see the result", readonly: '' }
    - else
      %textarea{ id: 'result_id', name: 'result', rows: '6', cols: '60', readonly: 'readonly'}= @result