!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title Kondratenko
    %link{ rel: "stylesheet", href: "/css/style.css" }
  %body
    =haml :navbar, layout: false
    .content
      = yield
      %h6 Performed by Kondratenko Denis, IKIT 417, NAU, 2014